// Colors

// Accent color
$mainColor : hsl(356,79%,48%);

// Dark version accent color
$mainColorDark : hsl(356, 81%, 35%);

// General text color 
$textColor: #fff;

// Body background color
$bgColor : hsl(0, 0%, 9%);

// Star rating color
$gold : hsl(49, 100%, 50%);

// Font sizes

$cardFont : 24px;