/* Colors */

// Accent color
$mainColor : hsl(356,79%,48%);

// Dark version accent color
$mainColorDark : hsl(356, 81%, 35%);

// General text color 
$textColor: #fff;

// Body background color
$bgColor : hsl(0, 0%, 0%);

// Star rating color
$gold : hsl(49, 100%, 50%);

/*Font sizes*/

$titleSectionFont : clamp(1rem, 3vw, 3rem);
$cardFont : clamp(.5rem, 5vw, .9rem);
$placeholderFont : clamp(1rem, 2vw, 1.5rem);